* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  padding: 50px 50px;
  font-family: 'Open Sans', sans-serif;
	color: #333333;
  font-size: 14px;
  font-weight: 400;
  background-color: #424242;
}

ul {
	display: inline-block;
	list-style-type: none;
}

li {
	display: block;
}

button, fieldset, textarea {
	all: unset;
}

input {
  border: none;
}

button {
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

:focus {
  outline-offset: 4px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

section:not(:last-child) {
  margin-bottom: 50px;
}


/* CHECKBOX */

.fieldset, .legend {
  background-color: #fff;
}

.fieldset {
  position: relative;
  padding: 66px 30px 29px 30px;
  border-radius: 10px;
}

.legend {
  position: absolute;
  top: 21px;
  left: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.label,
.custom-checkbox {
  display: inline-block;
}

.item {
  line-height: 19px;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.checkbox + .custom-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999999;
  border-radius: 3px;
  transform: translateY(-50%);
}

.checkbox + .custom-checkbox:before {
  content: url('../img/checkbox.svg');
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 3px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.checkbox:checked + .custom-checkbox:before {
  opacity: 1;
}

.checkbox:checked + .custom-checkbox {
  border-color: #CCB26E;
}

.checkbox:focus + .custom-checkbox {
  outline: 1px solid rgba(204,178,110,.6);
  outline-offset: 3px;
}

.checkbox:focus + .custom-checkbox:hover {
  outline: none;
}

/* SELECT */

.choices {
  width: 176px;
}

.choices__inner {
  position: relative;
  z-index: 2;
  padding: 9px 15px 11px 15px;
	border-radius: 10px;
  border: unset;
  min-height: auto;
  background-color: #fff;
}

.choices.is-focused {
  outline: 1px solid #CCB26E;
}

.choices.is-focused.is-open,
.choices.is-focused:hover {
  outline: none;
}

.choices.is-open .choices__inner {
  padding: 8px 14px 10px 14px;
  border: 1px solid #CCB26E;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 11px;
}

.choices[data-type*=select-one].is-open .choices__inner {
  padding-bottom: 10px;
}

.choices__list--single {
  padding: 0;
}

.is-open .choices__inner {
  border-bottom: none;
  border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
  min-height: auto;
}

.choices__list--dropdown {
  margin-top: -10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
  border: unset;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.choices__placeholder {
  line-height: 19px;
  opacity: 1;
}

.choices[data-type*=select-one]:after {
  all: unset;
}

.choices[data-type*=select-one]:after {
  position: absolute;
  z-index: 3;
  content: url('../img/select.svg');
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition-duration: .2s;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
  content: url('../img/select-active.svg');
  margin-top: 0;
  transform: translateY(-50%) rotate(360deg);
  transition-duration: .2s;
}

.choices__list.choices__list--dropdown.is-active {
  border: 1px solid #CCB26E;
  border-top-width: 0;
}

.choices__list--dropdown .choices__item {
  padding: 10px 10px 10px 14px;
  line-height: 19px;
}

.choices__list--dropdown .choices__item:nth-child(2) {
  padding: 30px 10px 10px 14px;
}

.choices__list--dropdown .choices__item:last-child {
  padding: 10px 10px 20px 14px;
}

.choices__list--dropdown .choices__item.is-selected {
  background-color: #fff;
}

#choices--material-item-choice-5 {
	display: none;
}

/* MAP */

.map {
  width: 460px;
  height: 460px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

[class*="copyrights-pane"] {
  display: none !important;
}

/* SCROLLBAR */

.scroll {
  padding: 20px 30px 0 29px;
  max-width: 399px;
  max-height: 310px;
  background-color: #fff;
  overflow-y: auto;
  line-height: 24px;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track {
  right: 6px;
}

.simplebar-track.simplebar-vertical {
  top: 7px;
  width: 6px;
}

.simplebar-scrollbar:before {
  left: 0;
  right: 0;
  background: #CCB26E;
  border-radius: 5px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  opacity: 1;
}

/* VALIDATION */

.registration {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 38px 30px;
  width: 440px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.registration__item:not(:last-child) {
  margin-bottom: 31px;
}

.registration__item {
  position: relative;
}

.registration__input {
  padding-left: 20px;
  width: 380px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
}

.registration__input::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #999;
}

.registration__button {
  display: block;
  margin-top: 31px;
  margin-left: 7px;
  padding: 18.5px 53px;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  background-color: #ff5c00;
  border-radius: 10px;
}

.registration__button:hover {
  background-color: #ff4800;
  transition: .3s ease-in-out;
}

.js-validate-error-label {
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 12px;
  line-height: 14px;
}

/* TOOLTIP */

.text-block {
  padding: 20px 78px 20px 29px;
  width: 375px;
  height: 160px;
  line-height: 24px;
  background-color: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 2px;
  transform: translateY(2px)
}

.marker {
  width: 16px;
  height: 16px;
  background-image: url('../img/tooltip.svg');
  transition: .15s ease-in-out;
}

.marker:hover,
.marker:focus {
  background-image: url('../img/tooltip-active.svg');
}

.message {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 11px;
  padding: 7px 15px 8px 15px;
  max-width: 163px;
  width: max-content;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #666;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: .25s ease-in-out;
}

.message::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.3px 3.15px 0 3.15px;
  border-color: #666 transparent transparent transparent;
  transform: translateX(-50%);
}

.marker:hover + .message,
.marker:focus + .message {
  opacity: 1;
  visibility: visible;
}














