* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  padding: 50px 50px;
  font-family: 'Open Sans', sans-serif;
	color: #333333;
  font-size: 14px;
  font-weight: 400;
  background-color: #424242;
}

ul {
	display: inline-block;
	list-style-type: none;
}

li {
	display: block;
}

button, fieldset, textarea {
	all: unset;
}

button {
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

:focus {
  outline-offset: 4px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

section:not(:last-child) {
  margin-bottom: 50px;
}


/* CHECKBOX */

.fieldset, .legend {
  background-color: #fff;
}

.fieldset {
  position: relative;
  padding: 66px 30px 29px 30px;
  border-radius: 10px;
}

.legend {
  position: absolute;
  top: 21px;
  left: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.label,
.custom-checkbox {
  display: inline-block;
}

.item {
  line-height: 19px;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.checkbox + .custom-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999999;
  border-radius: 3px;
  transform: translateY(-50%);
}

.checkbox + .custom-checkbox:before {
  content: url('../img/tick.svg');
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 3px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.checkbox:checked + .custom-checkbox:before {
  opacity: 1;
}

.checkbox:checked + .custom-checkbox {
  border-color: #CCB26E;
}

.checkbox:focus + .custom-checkbox {
  outline: 1px solid rgba(204,178,110,.6);
  outline-offset: 3px;
}


/* SELECT */

.choices__inner {
	border-radius: 10px;
}

.is-open .choices__inner {
	border-radius: 10px;
}

.choices__list--dropdown {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}






#choices--material-item-choice-5 {
	display: none;
}
